.background {
    -fx-background-color: #333;
    -fx-border-width: 2px 0 0 0;
    -fx-border-color: #aaa;
}

.play-button {
    -fx-background-color: #eee;
}

.song-box {
    -fx-border-width: 0 2px 0 0;
    -fx-border-color: #aaa;
}