* {
    -fx-padding: 0;
    -fx-margin: 0;
}
.background {
    -fx-background-color: white;
    -fx-background-image: url('/img/background-img-alt.jpeg');
    -fx-background-position: center;
    -fx-background-size: contain;
    -fx-display: flex;
}

.opacity {
    -fx-background-color: rgba(0, 0, 0, 0.5);
    -fx-effect: dropshadow(three-pass-box, rgba(255, 255, 255, 0.5), 50, 0, -10, 0);
}

.logo {
    -fx-padding: 50px;
    -fx-background-color: pink;
}

.text-center {
    -fx-text-alignment: center;
    -fx-alignment: middle;
}

.login-form {
    -fx-padding: 50px;
}

.input-stuff {
    -fx-pref-width: 350px;
    -fx-border-width: 0px 0px 2px 0px;
    -fx-border-color: white;
    -fx-background-color: transparent;
}

.primary-button {
    -fx-border-width: 0;
    -fx-drop-shadow: 0;
    -fx-pref-width: 350px;
    -fx-background-color: #333;
    -fx-pref-height: 40px;
}

.alt-button {
    -fx-border-width: 0;
    -fx-drop-shadow: 0;
    -fx-pref-width: 350px;
    -fx-background-color: #fff;
    -fx-pref-height: 40px;
}